-# Section 7.2 Figure 7.10(c)
-# http://pastebin.com/sGpXM3kW
#login
  - if @current_user
    %p.welcome  Welcome, #{@current_user.name}!
    = link_to 'Log Out', logout_path
  - else
    %p.login= link_to 'Log in with your Twitter account', login_path
askbhdfalksdfhasdf this doesn't matter at all