-# Section 4.8 Figure 4.13
-# http://pastebin.com/PhapSLEN
%h2 Edit Movie

-# Section 4.8 The only differences with new.html.haml:
-# - movie_path(@movie) instead of movies_path()
-# - :put vs :post for method (see 'rake routes')
= form_tag movie_path(@movie), :method => :put do

  -# Section 7.1 Figure 7.1 (bottom)
  -# http://pastebin.com/pRWLLbNk
  -#= label :movie, :title, 'Title'
  -#= text_field :movie, 'title'
  -#
  -#= label :movie, :rating, 'Rating'
  -#= select :movie, :rating, ['G','PG','PG-13','R','NC-17']
  -#
  -#= label :movie, :release_date, 'Released On'
  -#= date_select :movie, :release_date
  render :partial => 'movie_form'

  = submit_tag 'Save Changes'
