-# Section 4.4 Figure 4.5
-# http://pastebin.com/Bz9fuk34
-#  This file is app/views/movies/index.html.haml
%h2 All Movies

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
  %tbody
    -# Section 7.1 Figure 7.2 caption - DRY into partial
    -#- @movies.each do |movie|
    -#  %tr
    -#    %td= movie.title 
    -#    %td= movie.rating
    -#    %td= movie.release_date
    -#    %td= link_to "More about #{movie.title}", movie_path(movie)
    -#    -# Section 4,8
    -#    %td= link_to "Edit", edit_movie_path(movie)
    -#    %td= button_to "Delete", movie_path(movie), :method => :delete, :confirm => 'Are you sure?'
    render :partial => 'movie', :collection => @movies

    -# Section 4.6
    -# http://pastebin.com/6wLiit6M
    = link_to 'Add new movie', new_movie_path


-# Section 5.6 Figure 5.7
-# http://pastebin.com/viZTPxGN
-# add to end of app/views/movies/index.html.haml:
%h1 Search TMDb for a movie

= form_tag :action => 'search_tmdb' do

  %label{:for => 'search_terms'} Search Terms
  =text_field_tag 'search_terms'
  =submit_tag 'Search TMDb'
