-# Section 7.5 - I'm winging it here...
%h2 Reviews for #{@movie.title}
-# #{@movie.title} - this gives error (@movie not defined)
index.html.haml: Should probably search the Reviews database in the controller and render here...
